.container {
  padding: 3vw;
  max-width: 400px;
  margin: 0 auto;
}

.ready_text {
  font-size: 7vw;
  color: var(--dark-color);
  margin: 3vw 0 0;
  opacity: 0.8;
}


.list {
  list-style: none;
  grid-gap: 10px;
  padding: 20px 0;
  text-align: initial;

  &_item {
    background: var(--grey-color);
    color: #fff;
    cursor: pointer;
    padding: 20px 16px;
    border-radius: 12px;
    margin-bottom: 8px;
    position: relative;

    &--top {
      font-size: 28px;
      display: flex;
      justify-content: space-between;

      &_spent {
        font-size: 20px;
        opacity: 0.7;
        padding: 3px 0;
      }
    }

    &--content {
      border-top: 1px solid #fff;
      margin-bottom: 13px;
      position: relative;

      &:last-of-type {
        margin-bottom: 0;
      }

      .money {
        opacity: 0.8;
        font-size: 20px;
        padding: 10px 0;
      }

      .debt_list {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        grid-gap: 8px;

        li {
          font-size: 20px;
          padding: 6px 16px;
          background: var(--main-color);
          border-radius: 5px;
        }
      }
    }
  }
}

.edit_btn,
.plus_btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 20px;
  right: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.plus_btn {
  top: auto;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 400px) {
  .container {
    padding: 12px;
  }

  .ready_text {
    font-size: 28px;
    margin: 12px 0 0;
  }
}

